/* Services
   ========================================================================== */

   .img-container {
   		width: 35%;
   		overflow: hidden;
   		margin: 0 auto 5%;

   		img{
   			width: 100%;
   		}
   }

   .item-list{
   		margin-bottom: 3%;

   		h5{
   			padding: 0 18%;
   			line-height: 24px;
   			font-family: "Montserrat-Regular";
   		}
   }