/* Services
   ========================================================================== */

   .img-container {
   		width: 30%;
   		overflow: hidden;
   		margin: 0 auto 5%;

   		img{
   			width: 100%;
   		}
   }

   .item-list{
   		margin: 2% auto;

   		h5{
   			padding: 0 25%;
   			line-height: 24px;
   			font-family: "Montserrat-Regular";
   		}
   }

   @media screen and (max-width: 991px) {
      .item-list{         

         h5{
            padding: 0 10%;
         }
      }
   }