/* Services
   ========================================================================== */

   .img-container {
   		width: 50%;
   		overflow: hidden;
   		margin: 0 auto;

   		img{
   			width: 100%;
   		}
   }

   .item-list{
   		margin-bottom: 5%;

   		h4{
   			padding: 0 15%;
   			line-height: 30px;
   			font-family: "Montserrat-Regular";
   		}
   }