/* Color Scheme
   ========================================================================== */
$black: #1f1f1f;
$gray: #e4e3e3;
$dark-white: #f5f5f5;
$orange: #faee1e;
$white: #ffffff;
$red: #d32f3f;
$blue: #1393cb;
$purple: #5c379d;




