/* Modules and Variables
   ========================================================================== */

@import "modules/_colors";
@import "modules/_mixins";

/* Partials
   ========================================================================== */

@import "partials/_typography";
@import "partials/footer-stay-down";

/* Pages
   ========================================================================== */

@import "pages/_homepage";

/* Third-party
   ========================================================================== */

@import "vendor/bootstrap.min.css";
@import "vendor/font-awesome/css/font-awesome.min.css";
