/* Modules and Variables
   ========================================================================== */
/* Color Scheme
   ========================================================================== */
/* Mixins
   ========================================================================== */
@import url(vendor/bootstrap.min.css);
@import url(vendor/font-awesome/css/font-awesome.min.css);
/* line 6, modules/_mixins.scss */
::-webkit-input-placeholder {
  color: #ddd;
}

/* line 7, modules/_mixins.scss */
:-moz-placeholder {
  color: #ddd;
}

/* line 8, modules/_mixins.scss */
::-moz-placeholder {
  color: #ddd;
}

/* line 9, modules/_mixins.scss */
:-ms-input-placeholder {
  color: #ddd;
}

/* Partials
   ========================================================================== */
/* Typography
   ========================================================================== */
/* line 4, partials/_typography.scss */
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Merriweather-Bold";
  src: url(../fonts/Merriweather-Bold.otf);
}
/* line 19, partials/_typography.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 24, partials/_typography.scss */
html {
  font-size: 62.5%;
}

/* line 28, partials/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Regular";
  margin: 0;
}

/* line 33, partials/_typography.scss */
h1 {
  font-size: 98px;
}

/* line 34, partials/_typography.scss */
h2 {
  font-size: 46px;
}

/* line 35, partials/_typography.scss */
h3 {
  font-size: 40px;
}

/* line 36, partials/_typography.scss */
h4 {
  font-size: 22px;
}

/* line 37, partials/_typography.scss */
h5 {
  font-size: 20px;
  text-align: center;
}

/* line 38, partials/_typography.scss */
h6 {
  font-size: 18px;
}

/* line 39, partials/_typography.scss */
p {
  font-size: 16px;
}

/* line 41, partials/_typography.scss */
li, a, p {
  font-family: "Montserrat-Regular";
}

/* Header
   ========================================================================== */
/* line 4, partials/_header.scss */
header {
  background-color: #f5f5f5;
}
/* line 7, partials/_header.scss */
header .container {
  padding: 0;
}
/* line 11, partials/_header.scss */
header .logo {
  padding: 10px 0 0.5% 0;
}
/* line 15, partials/_header.scss */
header .logo img {
  width: 150px;
  height: auto;
}
/* line 22, partials/_header.scss */
header label {
  color: #e4e3e3;
}

/* Footer Stay Down
   ========================================================================== */
/* line 4, partials/footer-stay-down.scss */
.fsd-wrap {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  width: 100%;
  height: 100%;
}
/* line 15, partials/footer-stay-down.scss */
.fsd-wrap .content-wrap {
  display: table-row;
  height: 100%;
}
/* line 20, partials/footer-stay-down.scss */
.fsd-wrap .footer-wrap {
  display: table-row;
  height: 1px;
}

/* Helpers
   ========================================================================== */
/* line 4, partials/_helpers.scss */
._pull-left {
  float: left !important;
}

/* line 5, partials/_helpers.scss */
._pull-right {
  float: right !important;
}

/* line 6, partials/_helpers.scss */
._text-center {
  text-align: center !important;
}

/* line 7, partials/_helpers.scss */
._remove-padding {
  padding: 0 !important;
}

/* line 8, partials/_helpers.scss */
._remove-margin {
  margin: 0 !important;
}

/* line 9, partials/_helpers.scss */
._position-relative {
  position: relative;
}

@media screen and (max-width: 767px) {
  /* line 14, partials/_helpers.scss */
  ._sm-padding-rm {
    padding: 0;
  }

  /* line 15, partials/_helpers.scss */
  ._sm-text-center {
    text-align: center !important;
  }

  /* line 16, partials/_helpers.scss */
  ._sm-pull-left {
    float: left !important;
  }

  /* line 17, partials/_helpers.scss */
  ._sm-pull-right {
    float: right !important;
  }
}
/* Pages
   ========================================================================== */
/* Homepage
   ========================================================================== */
/* line 4, pages/_homepage.scss */
html, body {
  padding: 0;
  margin: 0;
}

/* line 9, pages/_homepage.scss */
.about-us {
  background-color: #f5f5f5;
}
/* line 15, pages/_homepage.scss */
.about-us .background {
  color: #e4e3e3;
  position: absolute;
  top: 35px;
  left: 12%;
}
/* line 21, pages/_homepage.scss */
.about-us .background h1 {
  font-family: "Merriweather-Bold" !important;
}
/* line 26, pages/_homepage.scss */
.about-us .contents {
  padding: 20px 0 10px 0;
  position: relative;
  margin-top: 40px;
  height: 190px;
  max-height: 190px;
}
/* line 33, pages/_homepage.scss */
.about-us .contents h2 {
  padding-right: 5%;
  display: inline-block;
}
/* line 38, pages/_homepage.scss */
.about-us .contents .line {
  border-top: 1px solid #30353b;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 35px auto 0;
  width: 10%;
  position: absolute;
  left: -12%;
}
/* line 48, pages/_homepage.scss */
.about-us .contents .line:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #30353b;
  border-radius: 5px;
  position: absolute;
  top: -6px;
}
/* line 58, pages/_homepage.scss */
.about-us .contents .line:after {
  right: 0;
}
/* line 65, pages/_homepage.scss */
.about-us .social-icons a {
  display: inline;
}
/* line 69, pages/_homepage.scss */
.about-us .social-icons a i {
  color: #e4e3e3;
  padding: 15px 10px 20px;
}
/* line 76, pages/_homepage.scss */
.about-us .social-icons .line {
  border-top: 3px solid #e4e3e3;
  padding-bottom: 9px;
  width: 5%;
  display: inline-block;
}

/* line 85, pages/_homepage.scss */
#typed {
  color: #1393cb;
  font-size: 50px;
}

/* line 104, pages/_homepage.scss */
.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 991px) {
  /* line 118, pages/_homepage.scss */
  .about-us .background {
    top: 50px;
    left: 10%;
  }
  /* line 122, pages/_homepage.scss */
  .about-us .background h1 {
    font-size: 80px;
  }

  /* line 130, pages/_homepage.scss */
  .contents h2 {
    font-size: 41px;
  }

  /* line 135, pages/_homepage.scss */
  #typed {
    font-size: 41px;
  }
}
@media screen and (max-width: 768px) {
  /* line 142, pages/_homepage.scss */
  .about-us {
    padding-left: 10%;
  }
  /* line 145, pages/_homepage.scss */
  .about-us .background {
    top: 70px;
    left: 0;
    position: absolute;
  }
  /* line 150, pages/_homepage.scss */
  .about-us .background h1 {
    font-size: 50px;
  }
  /* line 158, pages/_homepage.scss */
  .about-us .contents {
    position: relative;
    max-height: none;
    height: auto;
  }
  /* line 163, pages/_homepage.scss */
  .about-us .contents .line {
    border-top: 1px solid #30353b;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 25px auto 0;
    width: 50px;
    position: absolute;
    left: -60px;
  }
  /* line 173, pages/_homepage.scss */
  .about-us .contents .line:after {
    content: "";
    width: 10px;
    height: 10px;
    background: #30353b;
    border-radius: 5px;
    position: absolute;
    top: -6px;
  }
  /* line 183, pages/_homepage.scss */
  .about-us .contents h2 {
    font-size: 33px;
    line-height: 44px;
  }
  /* line 193, pages/_homepage.scss */
  .about-us .social-icons .line {
    border-top: 3px solid #e4e3e3;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50px;
    display: inline-block;
  }

  /* line 207, pages/_homepage.scss */
  #typed {
    font-size: 33px;
  }
}
/* Services
   ========================================================================== */
/* line 4, pages/_services.scss */
.img-container {
  width: 30%;
  overflow: hidden;
  margin: 0 auto 5%;
}
/* line 9, pages/_services.scss */
.img-container img {
  width: 100%;
}

/* line 14, pages/_services.scss */
.item-list {
  margin: 2% auto;
}
/* line 17, pages/_services.scss */
.item-list h5 {
  padding: 0 25%;
  line-height: 24px;
  font-family: "Montserrat-Regular";
}

@media screen and (max-width: 991px) {
  /* line 27, pages/_services.scss */
  .item-list h5 {
    padding: 0 10%;
  }
}
/* Third-party
   ========================================================================== */
