/* Header
   ========================================================================== */

header{
	background-color: #f5f5f5;

	.container{
		padding: 0;
	}

	.logo {
		padding: 10px 0 0.5% 0;

		
		img {
			width: 150px;
			height: auto;
  
		}
	}

	label{
		color: $gray;
	}
}